XTerm*font: -*-terminus-medium-r-*-*-18-*-*-*-*-*-iso10646-*
UXTerm*font: -*-terminus-medium-r-*-*-18-*-*-*-*-*-iso10646-*

!*VT100.colorBDMode:     true
!*VT100.colorBD:         red
!*VT100.colorULMode:     true
!*VT100.colorUL:         cyan
!*VT100.veryBoldColors: 6
